.col-actions {
  width: 60px;
}

.container.my-4 {

  background-color: black;
  color: white;
}
.container.my-4 {
  background-color: black;
  color: white;
}
th {

  width: 30%;
}

form.mt-5 {
  background-color: black;
  color: white;
}
.container-fluid {
  background-color: black;
}